.button1 {
    background-color: #000;
    color: rgb(247, 247, 244);
    }

.button2 {
    background-color: rgb(237, 224, 46);
    }

.buttons {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    }